/* Default CSS */

body {
  background: linear-gradient(120deg, #1db954, #191414) no-repeat fixed;
}

/* Collapsed None -----------------*/
/* wrapper */
.wrapper {
  width: 100%;
  padding-left: 200px;
  transition-duration: 0.5s;
}

/* sidebar */
.wrapper .sidebar {
  position: absolute;
  width: 200px;
  height: calc(100vh);
  left: 0px;
  background: #333;
  white-space: nowrap;
  transition-duration: 0.5s;
  z-index: 1000;
}

/* Centering the icon & added an extra class in case I need to center other icons */
.wrapper .sidebar .sb-head,
.i-center {
  display: block;
  text-align: center;
}

/* Spotify icon */
.wrapper .sidebar .sb-head i {
  color: #1db954;
}

/* Overriding the rules of material icon */
.wrapper .sidebar .library {
  font-size: 1rem;
}

/* sidebar item list */
.wrapper .sidebar .sb-item-list {
  height: calc(100% - 50px);
  width: 100%;
}

/* sidebar item */
.wrapper .sidebar .sb-item {
  display: block;
  width: 100%;
  line-height: 50px;
  color: #ccc;
  background: #333;
  cursor: pointer;
  padding-left: 7px;
}
.wrapper .sidebar .sb-icon {
  padding-left: 10px;
  padding-right: 20px;
}
.wrapper .sidebar .sb-item:hover,
.sb-item.active {
  filter: brightness(130%);
}
.wrapper > .sidebar > .sb-item-list > .sb-item > .sb-text {
  position: absolute;
  transition-duration: 0.5s;
}

/* sidebar item active hint */
.wrapper .sidebar .sb-item.active {
  border-left: solid 3px green;
  box-sizing: border-box;
}
.wrapper .sidebar .sb-item.active > .sb-icon {
  margin-left: -3px;
}

/* Inputs Sign up / Login */
.sb-item-login {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 70px;
  border-top: 1px solid #aaa;
}

/* Vertical btn position */
.sb-item-login .btn-group-vertical {
  margin-left: 3%;
  width: 90%;
}

.sb-item-login .btn-group-vertical button {
  background-color: transparent;
  border-radius: 10px;
}

.sb-item-login .btn-group-vertical button:hover {
  border-color: #1db954;
}

/* overriding the default margin top */
.btn-group-vertical > button:not(:first-child) {
  margin-top: 20px;
}

/* sidebar collapse button */
.wrapper .btn-toggle-sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #aaa;
}
.wrapper .btn-toggle-sidebar .sb-icon.fa-angle-double-left {
  display: inline-block;
}
.wrapper .btn-toggle-sidebar .sb-icon.fa-angle-double-right {
  display: none;
}

/* Collapsed -----------------*/
/* wrapper */
.wrapper.sidebar-collapse {
  padding-left: 60px;
}

/* sidebar */
.wrapper.sidebar-collapse .sidebar {
  width: 60px;
}

/* sidebar item */
.wrapper.sidebar-collapse > .sidebar > .sb-item-list > .sb-item > .sb-text,
.wrapper.sidebar-collapse
  > .sidebar
  > .sb-item-login
  > .btn-group-vertical
  > .sb-item
  > .sb-text {
  position: absolute;
  transform: translateX(-200%);
  opacity: 0;
}

/* sidebar collapse button */
.wrapper.sidebar-collapse .btn-toggle-sidebar .sb-text {
  display: none;
}
.wrapper.sidebar-collapse .btn-toggle-sidebar .sb-icon.fa-angle-double-left {
  display: none;
}
.wrapper.sidebar-collapse .btn-toggle-sidebar .sb-icon.fa-angle-double-right {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

/* Sidebar Sub Menu ---------------*/
.wrapper .sb-menu:after {
  content: " ";
  display: block;
  float: right;
  margin-top: 19px;
  margin-left: -12px;
  margin-right: 5px;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  border-left-color: #eee;
}
.wrapper .sb-menu > .sb-submenu {
  display: none;
}
.wrapper .sb-submenu > .sb-item:first-child {
  border-radius: 8px 8px 0px 0px;
}
.wrapper .sb-submenu > .sb-item:last-child {
  border-radius: 0px 0px 8px 8px;
}
.wrapper .sb-menu:hover > .sb-submenu {
  position: absolute;
  display: block;
  width: 200px;
  top: 0;
  left: calc(100% + 1px);
}

/*-------------------------------------------------------*/
/* Main */
/* Navbar */
.navbar .navbar-nav li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2em;
}

.navbar .navbar-nav li a:hover {
  color: #191414;
  text-decoration: underline #1db954;
}

/*-------------------------------------------------------*/
/* Player */


/*------------------------------------------------------*/
/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
/* viewport size <= 320px ----------- */
@media only screen and (max-width: 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}
