/* Default CSS */

body {
  background: linear-gradient(120deg, #1db954, #191414) no-repeat fixed;
}

/* Collapsed None -----------------*/
/* wrapper */
.wrapper {
  width: 100%;
  padding-left: 200px;
  transition-duration: 0.5s;
}

/* sidebar */
.wrapper .sidebar {
  position: absolute;
  width: 200px;
  height: calc(80vh);
  left: 0px;
  background: #333;
  white-space: nowrap;
  transition-duration: 0.5s;
  z-index: 1000;
}

/* Centering the icon & added an extra class in case I need to center other icons */
.wrapper .sidebar .sb-head,
.i-center {
  display: block;
  text-align: center;
}

/* Spotify icon */
.wrapper .sidebar .sb-head i {
  color: #1db954;
}

/* Overriding the rules of material icon */
.wrapper .sidebar .library {
  font-size: 1rem;
}

/* sidebar item list */
.wrapper .sidebar .sb-item-list {
  height: calc(100% - 50px);
  width: 100%;
}

/* sidebar item */
.wrapper .sidebar .sb-item {
  display: block;
  width: 100%;
  line-height: 50px;
  color: #ccc;
  background: #333;
  cursor: pointer;
  padding-left: 7px;
}
.wrapper .sidebar .sb-icon {
  padding-left: 10px;
  padding-right: 20px;
}
.wrapper .sidebar .sb-item:hover,
.sb-item.active {
  filter: brightness(130%);
}
.wrapper > .sidebar > .sb-item-list > .sb-item > .sb-text {
  position: absolute;
  transition-duration: 0.5s;
}

/* sidebar item active hint */
.wrapper .sidebar .sb-item.active {
  border-left: solid 3px green;
  box-sizing: border-box;
}
.wrapper .sidebar .sb-item.active > .sb-icon {
  margin-left: -3px;
}
/* cookie & inline icons */
.sb-cookie-item {
  position: absolute;
  bottom: 220px;
  width: 100%;
}

/* icons */
.sb-cookie-item i {
  color: #ffffff;
  font-size: 1rem;
}

/* Inputs Sign up / Login */
.sb-item-login {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 70px;
  border-top: 1px solid #aaa;
}

/* Vertical btn position */
.sb-item-login .btn-group-vertical {
  margin-left: 3%;
  width: 90%;
}

.sb-item-login .btn-group-vertical button {
  background-color: transparent;
  border-radius: 10px;
}

.sb-item-login .btn-group-vertical button:hover {
  border-color: #1db954;
}

/* overriding the default margin top */
.btn-group-vertical > button:not(:first-child) {
  margin-top: 20px;
}

/* sidebar collapse button */
.wrapper .btn-toggle-sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #aaa;
}
.wrapper .btn-toggle-sidebar .sb-icon.fa-angle-double-left {
  display: inline-block;
}
.wrapper .btn-toggle-sidebar .sb-icon.fa-angle-double-right {
  display: none;
}

/* Collapsed -----------------*/
/* wrapper */
.wrapper.sidebar-collapse {
  padding-left: 60px;
}

/* sidebar */
.wrapper.sidebar-collapse .sidebar {
  width: 60px;
}

/* sidebar item */
.wrapper.sidebar-collapse > .sidebar > .sb-item-list > .sb-item > .sb-text,
.wrapper.sidebar-collapse
  > .sidebar
  > .sb-item-login
  > .btn-group-vertical
  > .sb-item
  > .sb-text {
  position: absolute;
  transform: translateX(-200%);
  opacity: 0;
}

/* sidebar collapse button */
.wrapper.sidebar-collapse .btn-toggle-sidebar .sb-text {
  display: none;
}
.wrapper.sidebar-collapse .btn-toggle-sidebar .sb-icon.fa-angle-double-left {
  display: none;
}
.wrapper.sidebar-collapse .btn-toggle-sidebar .sb-icon.fa-angle-double-right {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

/*-------------------------------------------------------*/
/* Main */

/* Hide class */
.hide {
  display: none;
}

/* Main Home */
/* Navbar */
.navbar .navbar-nav li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2em;
}

.navbar .navbar-nav li a:hover {
  color: #191414;
  text-decoration: underline #1db954;
}

/* General nav style */

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav ul li {
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

nav ul li:hover {
  transition: 0.8s all;
}

/* Home All Music */

/* Carousel Songs */
@media (min-width: 768px) {
  /* show 4 items */
  .carousel-inner .active,
  .carousel-inner .active .carousel-item,
  .carousel-inner .active .carousel-item .carousel-item,
  .carousel-inner .active .carousel-item .carousel-item .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    .carousel-item
    .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    .carousel-item
    .carousel-item
    .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    .carousel-item
    .carousel-item
    .carousel-item
    .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left .carousel-item,
  .carousel-item-next.carousel-item-left .carousel-item .carousel-item,
  .carousel-item-next.carousel-item-left
    .carousel-item
    .carousel-item
    .carousel-item,
  .carousel-item-next.carousel-item-left
    .carousel-item
    .carousel-item
    .carousel-item
    .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be absolue position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right .carousel-item,
  .carousel-item-prev.carousel-item-right .carousel-item .carousel-item,
  .carousel-item-prev.carousel-item-right
    .carousel-item
    .carousel-item
    .carousel-item,
  .carousel-item-prev.carousel-item-right
    .carousel-item
    .carousel-item
    .carousel-item
    .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* Main Search Page */
/* Search Bar */

/* Full width and position */
.f-width-form .btn-container {
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: none;
}

/* Buttons dimensions */
.f-width-form .btn-container button {
  height: 2.625rem;
  width: 2.625rem;
}

/* To create the rotation effect on search icon */
.f-width-form .line {
  display: inline-flex;
  height: 0.1875rem;
  width: 1.25rem;
  background-color: #51ff00;
  position: absolute;
  right: 0;
  top: 0;
  bottom: -3.125rem;
  margin: auto;
  left: 100%;
  -webkit-transform: rotate(40deg) translate(-10px, 0px);
  transform: rotate(40deg) translate(-10px, 0px);
  transition: all ease 0.25s;
  border-radius: 0.125rem;
}

/* To open full width the input with effect */
.f-width-form input {
  height: 2.625rem !important;
  width: 2.625rem !important;
  transition: all ease 0.25s;
  border-color: #51ff00;
  border-width: 0.1875rem;
  background-color: #08070b;
  outline: 0;
  color: #51ff00 !important;
}

/* Browser compatibility input */
.f-width-form input::-webkit-input-placeholder {
  opacity: 0;
  color: #ffffff;
}

.f-width-form input:-ms-input-placeholder {
  opacity: 0;
  color: #ffffff;
}

.f-width-form input::-ms-input-placeholder {
  opacity: 0;
  color: #ffffff;
}

.f-width-form input::placeholder {
  opacity: 0;
  color: #ffffff;
}

/* Focus & Valid input */
.f-width-form input:focus,
.f-width-form input:valid {
  padding-right: 88.2px;
  background-color: #08070b;
  outline: 0;
  box-shadow: none;
  width: 100% !important;
  border-color: #51ff00;
}

/* Browser compatibility opacity */
.f-width-form input:focus::-webkit-input-placeholder,
.f-width-form input:valid::-webkit-input-placeholder {
  opacity: 1;
}

.f-width-form input:focus:-ms-input-placeholder,
.f-width-form input:valid:-ms-input-placeholder {
  opacity: 1;
}

.f-width-form input:focus::-ms-input-placeholder,
.f-width-form input:valid::-ms-input-placeholder {
  opacity: 1;
}

/* input placeholder focus valid opacity */
.f-width-form input:focus::placeholder,
.f-width-form input:valid::placeholder {
  opacity: 1;
}

/* Display flex focus valid buttons */
.f-width-form input:focus ~ .btn-container,
.f-width-form input:valid ~ .btn-container {
  display: flex;
}

/* Buttons color */
.f-width-form input:focus ~ .btn-container button,
.f-width-form input:valid ~ .btn-container button {
  color: #51ff00;
  outline: 0;
}

/* Effect of the rotate line */
.f-width-form input:focus ~ .line,
.f-width-form input:valid ~ .line {
  -webkit-transform: rotate(0deg) translate(0px, -25px);
  transform: rotate(0deg) translate(0px, -25px);
}

/* Songs Results */
.s-result-container {
  width: 100%;
  height: ;
  background-color: rgba(3.1%, 2.7%, 4.3%, 0.5);
}

/*-------------------------------------------------------*/
/* Player */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(20vh);
  background-color: #191414;
}

/*------------------------------------------------------*/
/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
/* viewport size <= 320px ----------- */
@media only screen and (max-width: 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  nav ul {
  }

  nav ul li {
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}
