/* Default CSS */

body {
  background: linear-gradient(120deg, #1db954, #191414) no-repeat fixed;
}

/* Collapsed None -----------------*/
/* wrapper */
.wrapper {
  width: 100%;
  padding-left: 200px;
  transition-duration: 0.5s;
}

/* sidebar */
.wrapper .sidebar {
  position: absolute;
  width: 200px;
  height: calc(80vh);
  left: 0px;
  background: #333;
  white-space: nowrap;
  transition-duration: 0.5s;
  z-index: 1000;
}

/* Centering the icon & added an extra class in case I need to center other icons */
.wrapper .sidebar .sb-head,
.i-center {
  display: block;
  text-align: center;
}

/* Spotify icon */
.wrapper .sidebar .sb-head i {
  color: #1db954;
}

/* Overriding the rules of material icon */
.wrapper .sidebar .library {
  font-size: 1rem;
}

/* sidebar item list */
.wrapper .sidebar .sb-item-list {
  height: calc(100% - 50px);
  width: 100%;
}

/* sidebar item */
.wrapper .sidebar .sb-item {
  display: block;
  width: 100%;
  line-height: 50px;
  color: #ccc;
  background: #333;
  cursor: pointer;
  padding-left: 7px;
}
.wrapper .sidebar .sb-icon {
  padding-left: 10px;
  padding-right: 20px;
}
.wrapper .sidebar .sb-item:hover,
.sb-item.active {
  filter: brightness(130%);
}
.wrapper > .sidebar > .sb-item-list > .sb-item > .sb-text {
  position: absolute;
  transition-duration: 0.5s;
}

/* sidebar item active hint */
.wrapper .sidebar .sb-item.active {
  border-left: solid 3px green;
  box-sizing: border-box;
}
.wrapper .sidebar .sb-item.active > .sb-icon {
  margin-left: -3px;
}
/* cookie & inline icons */
.sb-cookie-item {
    position: absolute;
    bottom: 220px;
}

/* icons */
.sb-cookie-item i {
    color: #ffffff;
    font-size: 1rem;
}

/* Inputs Sign up / Login */
.sb-item-login {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 70px;
  border-top: 1px solid #aaa;
}

/* Vertical btn position */
.sb-item-login .btn-group-vertical {
  margin-left: 3%;
  width: 90%;
}

.sb-item-login .btn-group-vertical button {
  background-color: transparent;
  border-radius: 10px;
}

.sb-item-login .btn-group-vertical button:hover {
  border-color: #1db954;
}

/* overriding the default margin top */
.btn-group-vertical > button:not(:first-child) {
  margin-top: 20px;
}



/* sidebar collapse button */
.wrapper .btn-toggle-sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #aaa;
}
.wrapper .btn-toggle-sidebar .sb-icon.fa-angle-double-left {
  display: inline-block;
}
.wrapper .btn-toggle-sidebar .sb-icon.fa-angle-double-right {
  display: none;
}

/* Collapsed -----------------*/
/* wrapper */
.wrapper.sidebar-collapse {
  padding-left: 60px;
}

/* sidebar */
.wrapper.sidebar-collapse .sidebar {
  width: 60px;
}

/* sidebar item */
.wrapper.sidebar-collapse > .sidebar > .sb-item-list > .sb-item > .sb-text,
.wrapper.sidebar-collapse
  > .sidebar
  > .sb-item-login
  > .btn-group-vertical
  > .sb-item
  > .sb-text {
  position: absolute;
  transform: translateX(-200%);
  opacity: 0;
}

/* sidebar collapse button */
.wrapper.sidebar-collapse .btn-toggle-sidebar .sb-text {
  display: none;
}
.wrapper.sidebar-collapse .btn-toggle-sidebar .sb-icon.fa-angle-double-left {
  display: none;
}
.wrapper.sidebar-collapse .btn-toggle-sidebar .sb-icon.fa-angle-double-right {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

/*-------------------------------------------------------*/
/* Main */
/* Navbar */
.navbar .navbar-nav li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2em;
}

.navbar .navbar-nav li a:hover {
  color: #191414;
  text-decoration: underline #1db954;
}

/*-------------------------------------------------------*/
/* Player */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(20vh);
  background-color: #191414;
}

/* #player {
  position: relative;
  z-index: 2;
  width: 600px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#player img {
  position: absolute;
  left: 15px;
  top: -25px;
  border-radius: 10px;
}
#player .player-song {
  width: 370px;
  height: 100%;
  margin-left: 230px;
}
#player .player-song .title {
  color: #333;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}
#player .player-song .artist {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
#player .player-song .timestamps {
  width: calc(100% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}
#player .player-song .actions {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#player .player-song .actions .next,
#player .player-song .actions .prev {
  cursor: pointer;
}
#player .player-song .actions i {
  font-size: 32px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  color: #bbbbbb;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
#player .player-song .actions i:hover {
  color: #888888;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: calc(100% - 15px);
  height: 6px;
  border-radius: 50px;
  margin-top: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 50px;
}

progress[value]::-webkit-progress-value {
  border-radius: 50px;
  background-color: #333ddd;
}

.play-button {
  height: 16px;
  width: 16px;
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}
.play-button:hover .left,
.play-button:hover .right {
  background-color: #888888;
}

.left {
  height: 100%;
  float: left;
  background-color: #bbbbbb;
  width: 36%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}

.triangle-1 {
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.triangle-2 {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.triangle-1,
.triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 16px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #bbbbbb;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.paused .left {
  width: 50%;
}

.paused .right {
  width: 50%;
}

.paused .triangle-1 {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.paused .triangle-2 {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
} */

/*------------------------------------------------------*/
/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
/* viewport size <= 320px ----------- */
@media only screen and (max-width: 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}
